input {
    padding-left: 25px;
    outline: 0;
    height: 60px;
    width: 50%;

    background: #f8f9fa;

    margin-bottom: 20px;

    border: 0px;
    box-shadow: inset 0px 0px 50px #e0e4ea;
    border-radius: 10px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    color: #4a586e;
}

input::placeholder {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    color: #4a586e;

    opacity: 0.5;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;

    margin-bottom: 20px;

    color: #4a586e;
}

h4 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;

    color: #4a586e;
}

textarea {
    padding-left: 25px;
    padding-right: 25px;
    outline: 0;
    height: 60px;
    width: 50%;

    background: #f8f9fa;
    box-shadow: inset 0px 0px 50px #e0e4ea;
    border-radius: 10px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    color: #4a586e;
}

.full_name {
    padding-top: 40px;
    padding-left: 27%;
}

.contact_section {
    padding-top: 20px;
    padding-left: 27%;
}

.section_type {
    padding-top: 20px;
    padding-left: 27%;
}

.personal {
    padding-top: 20px;
}
