.main-container {
    display: block;
    width: 100%;
    height: 100%;
}

.main-container {
    display: block;
    width: 100%;
    height: 100%;
}

h2 {
    padding-top: 20px;
    padding-left: 27%;

    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;

    color: #4a586e;
}

.contact-section {
    padding-top: 20px;
    padding-left: 27%;
}

.contact-section span {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

    color: #4a586e;
}

.contact-section a {
    text-decoration: none;
    color: #169fe1;
}

.section-type {
    padding-top: 20px;
    padding-left: 27%;
}

h3 {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 25px;

    color: #4a586e;
}

.section {
    margin-top: 40px;
    margin-bottom: 40px;
}

.section-type p {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;

    color: #4a586e;
}

.section-type ul {
    padding-left: 20px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;

    color: #4a586e;
}

.section-type li {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;

    color: #4a586e;

    padding-right: 20%;
}

.education {
    margin-bottom: 40px;
}

.education a {
    padding-left: 245px;

    text-decoration: none;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;

    color: #169fe1;
}

.date_and_title {
    display: flex;
    flex-direction: row;
}

.time {
    display: inline-block;
    width: 200px;
}

.time h4 {
    padding-top: 20px;
    white-space: nowrap;
    display: block;
    width: 100%;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;

    color: #4a586e;
}

.title_and_description {
    display: inline;
    padding-top: 15px;
    margin-left: 145px;
}

.title_and_description b {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;

    color: #4a586e;
}

.title_and_description p {
    margin-top: 25px;
    width: 80%;

    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;

    color: #4a586e;
}